{extend name="common@public/base" /}
{block name="main-content"}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">管理员操作日志</h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats">
                            <table id="bootstrap-data-table" class="table">
                                <thead>
                                <tr>
                                    <th class="serial">管理员ID</th>
                                    <th>管理员</th>
                                    <th>操作时间</th>
                                    <th>操作类型</th>
                                    <th>操作字段</th>
                                    <th>操作前状态</th>
                                    <th>当前状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-id={$list.id}>
                                    <td class="serial" >{$i}.</td>
                                    <td>  <span class="product">{$list.ui_name}</span> </td>
                                    <td>  <span class="product">{$list.work_id}</span> </td>
                                    <td data-id="{$list.type_id}">  <span class="product" >{$list.type}</span> </td>
                                    <td data-id={$list.depart_id}>  <span class="product" >{$list.ud_name}</span> </td>
                                    <td data-id={$list.position_id}>  <span class="product" >{$list.up_name}</span> </td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{/block}