<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__STATIC__/wx/css/weui.css">
    <title>领导列表</title>

</head>
<body ontouchstart style="height: 100%; background-color: #ededed">
<div class="weui-tab">
    <div class="weui-tab__panel">
        <div class="weui-panel weui-panel_access">
            {volist name="list_time_table" id="vo"}
            <a class="weui-cell weui-cell_access weui-cell_example" href="wx_agenda.html">
                <div class="weui-cell__hd"><img src="__STATIC__/wx/img/s.jpg" alt=""
                                                style="width:50px;margin-right:16px;display:block;border-radius: 5px"></div>
                <div class="weui-cell__bd">
                    <h4 class="weui-media-box__title">{$vo.name}</h4>
                    <p class="weui-media-box__desc">{$vo.position}</p>
                </div>
                <div class=" weui-cell__ft" >< img src="./img/guanzhu_on.png" style="width: 30px"></div>
            </a>
            {/volist}

        </div>
    </div>
</div>
</body>
</html>