<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>{$title}</title>
</head>
<body style="height: 100%; background-color: #ededed">
<div class="weui-tab">
    <div class="weui-tab__panel">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">时间</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="addNewDay">
                        <option value="周一">周一</option>
                        <option value="周二">周二</option>
                        <option value="周三">周三</option>
                        <option value="周四">周四</option>
                        <option value="周五">周五</option>
                        <option value="周六">周六</option>
                        <option value="周日">周日</option>
                    </select>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="addNewTime">
                        <option value="上午">上午</option>
                        <option value="下午">下午</option>
                        <option value="晚上">晚上</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">地点</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="addNewPlace">
                        <option value="校本部">校本部</option>
                        <option value="大兴">大兴</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after" >
                <div class="weui-cell__hd">
                    <label class="weui-label">事项</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="addNewItem">
                        <option value="上课">上课</option>
                        <option value="开会">开会</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">事项描述</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="2"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <span id='callbackstatus'></span>
            <a class="weui-btn weui-btn_block weui-btn_primary" onclick="addDefaultSchedule()" id="yes-btn">确定</a>
            <a class="weui-btn weui-btn_block weui-btn_primary" href="wx_schedule_default.html" id="cancel-btn">返回</a>
        </div>
    </div>
    {include file="../application/wxcampus/view/index/nav.html"}

</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    /**添加默认事项，使用ajax向addDefaultSchedule方法发送请求*/
    function addDefaultSchedule(){
        $("#callbackstatus").text("点击");
        var time = $('#addNewDay').val() + $('#addNewTime').val();
        var place = $('#addNewPlace').val();
        var item = $('#addNewItem').val();
        $("#callbackstatus").text("下面post");
        $.ajax({
            type: "POST",
            async: false,
            url: "{:url('manageconfig/ScheduleDefault/addDefaultSchedule')}",
            data: {"time":time,"place": place,"item":item },
            dataType: "json",
            success: function (data) {
                $("#callbackstatus").text("data:"+data);
                if (data.code == 1) {
                    alert('添加成功');
                    //document.getElementById('smallmodal1').style.display = 'none';
                    setTimeout(function () {
                        window.location.href="{:url('wx_schedule_default')}";
                    },1000)
                    //window.location.href="{:url('wx_schedule_default')}";
                }
                else{
                    alert('添加失败：' + data.msg);
                }
            }
        });
        $("#callbackstatus").text("post后面");
    }
</script>
</body>
</html>