<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>{$title}</title>
</head>
<body style="height: 100%; background-color: #ededed">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    window.onload=function () {
        $("#note").bind("input propertychange",function () {
            $("#current-word-counter").innerHTML=$("#note").val().length;
        })
        // $("#note").addEventListener("propertychange",function () {
        //     $("#current-word-counter").innerHTML=$("#note").val().length;
        // })
    }

    function update(){
        var day=$('#day').val();
        var time =  $('#time').val();
        var place = $('#place').val();
        var item = $('#item').val();
        var note = $('#note').val();
        $.ajax({
            type: "POST",
            async: false,
            url: "{:url('updateDefaultSchedule',['uid'=>$uid])}",
            data: {"day":day,"time":time,"place": place,"item":item ,"note":note},
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    $("#callbackstatus").text("添加成功");
                    setTimeout(function () {
                        window.location.href="{:url('index',['uid'=>$uid,'wxcode'=>$wxcode])}";
                    },1000)
                }
                else{
                    alert('添加失败：' + data.msg);
                }
            }
        });
    }


</script>
</body>
</html>