<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询我的日程信息</title>
</head>
<style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:40px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>


<body>
    <div>
        <div>
            <form action="{:url('getMyScheduleInfo', ['user_id'=>$user_id])}" method="get">
            <span font-size="40px">开始时间</span><input type="date" name="starttime" placeholder="start time">
            <span font-size="40px">截止时间</span><input type="date" name="endtime" placeholder="end time">
            <button type="submit" id="add" class="btn btn-success btn-sm" data-toggle="modal"
                data-target=".add-schedule"><span font-size="40px">查询</span></button>
            </form>
        </div>
        <div>
            <table class="gridtable" width="100%" height="80%">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>时间</th>
                        <th>地点</th>
                        <th>事项</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name="schedule_info" item="vo"}
                    <tr>
                        <td>{$vo['date']}</span></td>
                        <td>{$vo['time']}</span></td>
                        <td>{$vo['place']}</span></td>
                        <td>{$vo['item']}</span></td>
                        <td>{$vo['note']}</span></td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>