<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>查询我的日程</title>
</head>
<body style="height: 100%; background-color: #ededed">
<div class="weui-tab">
    <div class="weui-tab__panel">
        <div class="weui-cells__title">一段时间内的日程信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">开始日期</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" value="{$date}" id="date">
                </div>
                <div class="weui-cell__bd" id="empty_date_notification" style="display: none; color:red;">请选择日期</div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">截止日期</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" value="{$date}" id="date">
                </div>
                <div class="weui-cell__bd" id="empty_date_notification" style="display: none; color:red;">请选择日期</div>
            </div>
        </div>
        <!-- <div class="weui-cells__title">事项描述</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="3" id="note" maxlength="{$maxlength}">{$note}</textarea>
                    <div class="weui-textarea-counter"><span><span id='wordcounter'>0</span></span>/{$maxlength}</div>
                </div>
            </div>
        </div> -->

        <div class="weui-btn-area">
            <span id='callbackstatus'></span>
            <a class="weui-btn weui-btn_block weui-btn_primary" id="{$confirmid}">确定</a>
            <a class="weui-btn weui-btn_block weui-btn_primary" href="index?date={$date}" id="cancel-btn">返回</a>
        </div>
        <input style="display:none" id="scheduleid" value="{$scheduleid}"></input>
    </div>
</div>
</body>