<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>查询我的日程信息</title>
</head>
<style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:40px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>


<body ontouchstart style="height: 100%; background-color: #ededed">
    <div class="weui-tab__panel">

        <div class="weui-panel weui-panel_access">
            {volist name="list_time_table" id="vo"}
            <a class="weui-cell  weui-cell_example">
                <div class="weui-cell__hd"><img src="__STATIC__/wx/img/s.jpg" alt=""
                                                style="width:50px;margin-right:16px;display:block;border-radius: 5px"></div>
                <div class="weui-cell__bd">
                    <h4 class="weui-media-box__title">{$vo.name}</h4>
                    <p class="weui-media-box__desc">{$vo.position}</p>
                    <p  style="display:none">{$vo.followid}</p>
                    <p style="display:none">{$vo.userid}</p>

                </div>

                     <div class=" weui-cell__ft">
                         <object>
                         <a href="{:url('checkDate',['followid'=> $vo.followid])}">
                             <img src="__STATIC__/wx/img/chaxun_on.png" style="width: 30px" >
                         </a>
                         </object>
                     </div>

                <div class=" weui-cell__ft"><img src="__STATIC__/wx/img/guanzhu.png" style="width: 30px" onclick="noFollow(this)"></div>
            </a>
            {/volist}
        </div>
    </div>
</body>
</html>